

#menu-mageplus-base-menu >a:before{
    font-family: "FontMageplus" !important;
    content: '\e900' !important;
}

.admin__menu [data-ui-id="menu-mageplus-shopbybrand-sbb"] .submenu-group-title span:before{
    font-family: "FontMageplus" !important;
    content: '\e900' !important;
    color: #fff;
    margin-right: 10px;
}

.config-nav-block.mageplus-config-tab .admin__page-nav-title strong:before{
    content: '';
    width: 18px;
    height: 18px;
    background-image: url("../images/logo_mageplus.svg");
    display: inline-block;
    margin-right: 7px;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    top: 2px;
}
.admin__data-grid-wrap-static .data-grid-checkbox-cell-inner{
    display: block !important;
}

.admin__menu .level-0._show > .submenu {
    height: 100vh;
    overflow-y: auto;
}
